services:
  - mysql
rvm:
  - 2.0.0
  - 2.1.*
  - 2.2.*
  - 2.3.0
gemfile:
  - Gemfile
env:
  - RAILS_ENV=test
bundler_args: --without development --path vendor/bundle
before_install:
  - gem update bundler
script: 
  - bundle exec rake --trace db:create db:migrate
  - bundle exec rspec 
