// Place all the styles related to the Graphs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.space-right {
  margin-right: 3px;
}

// graph anchor
// The anchor targets are hidden by 40px fixed position nav bar
// The following lines are an solution for this problem.
// @ reference http://hail2u.net/blog/webdesign/target-pseudo-class-and-padding-top.html
//
// Previously, we referred to the following for this problem. 
// @reference http://stackoverflow.com/questions/9047703/fixed-position-navbar-obscures-anchors
// But this is not good because the above blocks are hidden by this padding.
.anchor {
  display: inline-block;
  cursor: pointer;
}

.anchor:target {
  padding-top: 40px;
}

a.anchor:hover {
  color: #666;
  background-color: transparent;
}

// Twitter Bootstrap Yohoushi Custom
select { width: auto; }
form.tune-graph { margin-bottom: 0px; }
form.tune-graph .help-block { margin-bottom: 0px; }
form.tune-graph .well { margin-bottom: 10.5px; }
.control-group .controls .text { font-size: 15px; font-weight: normal; line-height: 26px; }

// Tags bottom of graph image
.tag a { color: #fff; }
.tag a:link { color: #fff; }
.tag a:visited { color: #fff; }
.tag a:hover { color: #0099DD; }
