// Place all the styles related to the Graphs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// utils
.space-right {
  margin-right: 3px;
}
.word-break-all { word-break: break-all; }

// graph anchor
.anchor {
  display: inline-block;
  cursor: pointer;
  word-break: break-all;
}

a.anchor:hover {
  color: #666;
  background-color: transparent;
}

// Twitter Bootstrap Yohoushi Custom
select { width: auto; }
form#tune-form { margin-bottom: 0px; }
form#tune-form .help-block { margin-bottom: 0px; }
form#tune-form .well { margin-bottom: 10.5px; }
.control-group .controls .text { font-size: 15px; font-weight: normal; line-height: 26px; }

// breadcrumbs
p#breadcrumbs { font-size: x-large; word-break: break-all; }

// thumbnails
.graph-thumbnails { width: 100%; }
.graph-thumbnails tr { vertical-align: top; }
.graph-thumbnails tr td { width: 33%; }
.graph-thumbnails tr td p { margin-bottom: 4px; margin-right: 12px; }
.graph-thumbnails tr td a { background-color: transparent; }
.graph-thumbnails tr td a:hover { color: #666; }

// jquery.ui.autocomplete Yohoushi custom
// cf. http://stackoverflow.com/questions/5409788/jquery-autocomplete-result-style
ul.ui-autocomplete.ui-menu { font-size: 100%; }
