form.tagselect { margin-bottom: 0px; }
form.tagselect button { height: 37px; }
ul.tagit { margin-bottom: 0px; }
ul.tagit li.tagit-choice a:hover { background-color: transparent; }
.tagcloud { margin-bottom: 20.0px; clear:both; }
.tagcloud a { color: #0099DD; }
.tagcloud a:visited { color: #0099DD; }
.tagcloud a:hover { color: #fff; background-color: #0099DD; }
.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }
