form#tagselect-form { margin-bottom: 3px; }
form#tagselect-form button { height: 37px; }
ul.tagit { margin-bottom: 3px; }
ul.tagit li.tagit-choice a:hover { background-color: transparent; }
.tagcloud { margin-bottom: 20.0px; clear:both; }
.tagcloud-more { margin-top: -20.0px; margin-bottom: 20.0px; }
.tagcloud-more a { color: #0099DD; }
.tagcloud-more a:visited { color: #0099DD; }
.tagcloud-more a:hover { color: #fff; background-color: #0099DD; }
a.tag:hover { color: #555; }
.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

// styles for the "delete tagged graphs" button
.tagcloud { clear: both; }
.delete-tagged-graphs { float: right; }
.btn-delete-tagged-graphs {
  // Make font-size, padding and line-heigt fit in with `.label`
  font-size: 12.69px;
  padding: 0 4px;
  line-height: 14px
}
