form class="form-search autocomplete-graph"
  input type="text" name="tag_list" id="tagselect" class="span11" data-tagselect=tagselect_graph_path value=params[:tag_list]
  button type="submit" class="btn"
    | Go
